@import "../../../styles/vars.scss";

.dropdown {
  max-width: 1023px;

  &.open {
    .chevron {
      transform: rotate(180deg);
    }

    .dropdownBody {
      max-height: 10000px;
    }
  }
}

.dropdownHeader {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 30px;
  border-radius: $radius;
  margin-bottom: 10px;
  cursor: pointer;

  span {
    font-size: 13px;
    font-weight: 700;
    color: $white;

    &::first-letter {
      text-transform: capitalize;
    }
  }

}

.chevron {
  width: 16px;
  height: auto;
  @include trans(max-height);
}

.dropdownBody {
  padding: 0 10px;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .dropdownHeader {
    height: 52px;

    span {
      font-size: 18px;
    }
  }

  .dropdownBody {
    font-size: 18px;
  }
}