@import "../../../../styles/vars.scss";

#hostCard {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 12px;
  color: $primary;
  text-align: right;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}