@import "../../../styles/vars.scss";

#logement {
  .title {
    font-size: 18px;
    font-weight: 500;
    color: $primary;
  }

  .location {
    font-size: 14px;
    font-weight: 500;
  }
}

#logementHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#logementData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

#hostData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#logementBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {

  #logementHeader {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  #hostData {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 10px;
  }

  .name {
    font-size: 18px;
  }

  .avatar {
    width: 64px;
    height: 64px;
  }

  #rating {
    width: 100%;
    justify-content: flex-end;
  }

  #logement {
    .title {
      font-size: 36px;
    }

    .location {
      font-size: 18px;
    }
  }

  .tag {
    height: 25px;
    font-size: 14px;
  }

  #logementBody {
    flex-direction: row;
    gap: 40px;

    .dropdown {
      flex: 1;
    }
  }
}