*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  height: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
}

body {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.25;
  color: $black;
}

h1,
.h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

.page {
  flex: 1;
}

.container {
  width: 80%;
  min-width: 335px;
  max-width: 1240px;
  margin: 0 auto;
}

img.responsive {
  width: 100%;
  height: auto;
}