@import "../../../styles/vars.scss";

header {
  margin-bottom: 20px;
}

.container {
  width: 80%;
  min-width: 335px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
}

#logo {
  width: 145px;
}

nav {
  flex: 1;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;

    a {
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      color: $black;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #logo {
    width: 210px;
  }

  nav {
    ul {
      a {
        font-size: 24px;
      }
    }
  }
}