@import "../../../styles/vars.scss";

#notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  a {
    color: $black;
    font-size: 14px;
  }
}

#big404 {
  color: $primary;
  font-size: 96px;
  font-weight: 700;
}

#errorMessage {
  text-align: center;
  color: $primary;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  #not-found {
    a {
      font-size: 18px;
    }
  }

  #big-404 {
    font-size: 288px;
  }

  #error-message {
    font-size: 36px;
  }
}